<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>I.E.C.A</h1> 
            <h3>(1998-2003)</h3>
            </li>
            <p>Titulo Obtenido: Bachiller en Economía y gestión de las organizaciones. </p>
        </ul>
        <ul>
            <li><h1>Argentina Programa</h1> 
            <h3>(2021-2022)</h3>
            </li>
            <p>Titulo Obtenido: Programador Full Stacks</p>
        </ul>
       
    </div>
    </div>
