<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
        <li><h1>Comtel Srl</h1> 
        <h3>(2012-2015)</h3>
        </li>
        <p>-Encargada de tareas Administrativas 
            -Ventas  
            -Manejo de personal  
            -Apertura de puntos de venta
        </p>
    </ul>
    <ul>
        <li><h1>Poker</h1> 
        <h3>(2015-2017)</h3>
        </li>
        <p>-Encargada de salón -Ventas -Manejo de caja 
            -Control de stock 
            -Manejo de sistema Lynce </p>
    </ul>
    <ul>
        <li><h1>Akiabara</h1> 
        <h3>(2018-2022)</h3>
        </li>
        <p>-Atención al cliente -Venta -Orden del perchero y control de stock -Apertura y cierre del local -Facturación -Manejo de caja -Sistema de
            facturación Discovery y Avelon -Encargada</p>
    </ul>
  
</div>
</div>
