<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.jpeg" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   <h2><p id="nombre">Maria Jimena Caceres</p></h2>
    <h5><p id="full">Full Stack Developer Jr </p></h5>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <h5><p id="texto">Me estoy capacitando en programación, me interesa mucho todo lo que signifique el desafio de tener que resolver un problema y todo lo relacionado con tecnologia o sistemas. 
            Me considero una persona resolutiva, capaz de resolver cualquier inconveniente que se presente</p></h5>
    </span>
</div>
</div>
