<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class= "text-center cold-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../../assets/html.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>
<div class= "text-center cold-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../../assets/css.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#FFA500'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class= "text-center cold-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="60"
          [radius]="100"
          [imageSrc]="'../../assets/java.png'"
          [showImage]="true"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#6A5ACD'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
        </div>
 <div class= "text-center cold-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="100"
  [radius]="100"
  [imageSrc]="'../../assets/empatia.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#D02090'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>
<div class= "text-center cold-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="100"
      [radius]="100"
      [imageSrc]="'../../assets/problema.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#FFFF00'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class= "text-center cold-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="100"
          [radius]="100"
          [imageSrc]="'../../assets/red.png'"
          [showImage]="true"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#00FFFF'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
        </div>
            